<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Contacts List
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            CRM
        </li>
        <li class="breadcrumb-item position-relative">
            Contacts List
        </li>
    </ol>
</div>

<!-- Contacts -->
<mat-card
    class="daxa-card contacts-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search contact..." (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-title>
        <mat-card-subtitle>
            <a mat-button class="add-new-btn" routerLink="/crm-page/create-contact">
                + Add New Contact
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="contacts-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Contact ID Column -->
                    <ng-container matColumnDef="contactID">
                        <th mat-header-cell *matHeaderCellDef>
                            Contact ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            #ACCN-T{{element.contactID}}
                        </td>
                    </ng-container>

                    <!-- Customer Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef>
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-black">
                            <div class="info d-flex align-items-center">
                                <div class="image">
                                    <img [src]="element.customer.img" alt="customer-image" onerror="this.src='images/users/user12.jpg';">
                                </div>
                                <span class="d-block fw-medium">
                                    {{element.customer.name}}
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.email}}
                        </td>
                    </ng-container>

                    <!-- Phone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>
                            Phone
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.phone}}
                        </td>
                    </ng-container>

                    <!-- Company Column -->
                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>
                            Company
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.company}}
                        </td>
                    </ng-container>

                    <!-- Last Contacted Column -->
                    <ng-container matColumnDef="lastContacted">
                        <th mat-header-cell *matHeaderCellDef>
                            Last Contacted
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.lastContacted}}
                        </td>
                    </ng-container>

                    <!-- Last Contacted Column -->
                    <ng-container matColumnDef="leadSource">
                        <th mat-header-cell *matHeaderCellDef>
                            Last Contacted
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.leadSource}}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge active d-inline-block" *ngIf="element.status.active">
                                {{element.status.active}}
                            </span>
                            <span class="daxa-badge deactive d-inline-block" *ngIf="element.status.deactive">
                                {{element.status.deactive}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <a mat-button [routerLink]="['/crm-page/edit-contact']" [queryParams]="{id: element.contactID}" matTooltip="Edit Contact" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        {{element.action.edit}}
                                    </i>
                                </a>
                                <a mat-button  matTooltip="Create Lead" matTooltipPosition="above" (click)="openForwardToLeadDialog(element, forwardToLeadDialog)">
                                    <i class="material-symbols-outlined">
                                        {{element.action.openToLead}}
                                    </i>
                                </a>
                                <a mat-button  matTooltip="Create Task" matTooltipPosition="above" (click)="openAssignTaskDialog(element, assignDialog)">
                                    <i class="material-symbols-outlined">
                                        {{element.action.task}}
                                    </i>
                                </a>
                                <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above" (click)="openDeleteDialog(element.contactID, confirmDialog)">
                                    <i class="material-symbols-outlined">
                                        {{element.action.delete}}
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #confirmDialog>
    <h2 mat-dialog-title>Confirm Delete</h2>
    <mat-dialog-content>
      Are you sure you want to delete this contact?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="closeModal()">Cancel</button>
      <button mat-flat-button color="warn" (click)="confirmDelete()">Delete</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #forwardToLeadDialog>
    <h2 mat-dialog-title>Forward To Lead</h2>
    <mat-dialog-content>
        <div class="mb-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="image" style="border-radius: 50%;">
                        <img [src]="selectedContact?.customer?.img" alt="customer-image" onerror="this.src='images/users/user12.jpg';">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="fw-bold" style="font-size: 1.2em;">{{selectedContact?.customer?.name}}</div>
                    <div class="text-muted">{{selectedContact?.email}}</div>
                    <div class="text-muted">{{selectedContact?.phone}}</div>
                </div>
            </div>
        </div>
        <div class="mb-3" style="margin-top: 10px;">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Product</mat-label>
                <mat-select [(ngModel)]="assignProduct">
                    <mat-option *ngFor="let product of products" [value]="product.id">
                        <span class="option-flex">
                            <img [src]="product.image" alt="" class="option-img" onerror="this.src='images/users/user12.jpg';" style="width:32px;height:32px;object-fit:cover;aspect-ratio:1/1;border-radius:8px; border-radius: 50%;">
                            {{product.name}}
                        </span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="closeModal()">Cancel</button>
      <button mat-flat-button color="primary" (click)="forwardToLead()">Forward</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #assignDialog>
    <h2 mat-dialog-title>Assign Task</h2>
    <mat-dialog-content>
        <div class="mb-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="image" style="border-radius: 50%;">
                        <img [src]="selectedContact?.customer?.img" alt="customer-image" onerror="this.src='images/users/user12.jpg';">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="fw-bold" style="font-size: 1.2em;">{{selectedContact?.customer?.name}}</div>
                    <div class="text-muted">{{selectedContact?.email}}</div>
                    <div class="text-muted">{{selectedContact?.phone}}</div>
                </div>
            </div>
        </div>
        <div class="mb-3" style="margin-bottom: 10px;">
            <mat-radio-group [(ngModel)]="assignType">
                <mat-radio-button value="user" style="margin-right: 5px;">User</mat-radio-button>
                <mat-radio-button value="team">Team</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select {{assignType | titlecase}}</mat-label>
                <mat-select [(ngModel)]="assignTo">
                    <ng-container *ngIf="assignType === 'user'">
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            <span class="option-flex">
                                <img [src]="user.image" alt="" class="option-img" onerror="this.src='images/users/user12.jpg';">
                                {{user.name}}
                            </span>
                        </mat-option>
                    </ng-container>
                    <ng-container *ngIf="assignType === 'team'">
                        <mat-option *ngFor="let team of teams" [value]="team.id">
                            <span class="option-flex">
                                <img [src]="team.image" alt="" class="option-img" onerror="this.src='images/users/user12.jpg';">
                                {{team.name}}
                            </span>
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="closeModal()">Cancel</button>
        <button mat-flat-button color="primary" (click)="confirmAssignTask()" [disabled]="!assignTo">Assign</button>
    </mat-dialog-actions>
</ng-template>
