<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Create Contact
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            CRM
        </li>
        <li class="breadcrumb-item position-relative">
            Contacts
        </li>
        <li class="breadcrumb-item position-relative">
            Create Contact
        </li>
    </ol>
</div>

<!-- Create Contact -->
<mat-card
    class="daxa-card create-contact-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Customer Name</label>
                        <mat-form-field>
                            <mat-label>Enter customer name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Email Address</label>
                        <mat-form-field>
                            <mat-label>Enter email address</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Phone Number</label>
                        <mat-form-field>
                            <mat-label>Enter phone number</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Company</label>
                        <mat-form-field>
                            <mat-label>Enter company</mat-label>
                            <input matInput formControlName="company">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Lead Source</label>
                        <mat-form-field>
                            <mat-label>Select lead source</mat-label>
                            <mat-select formControlName="leadSource">
                                <mat-option value="Website">Website</mat-option>
                                <mat-option value="Referral">Referral</mat-option>
                                <mat-option value="Cold Call">Cold Call</mat-option>
                                <mat-option value="Email Campaign">Email Campaign</mat-option>
                                <mat-option value="Online Store">Online Store</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Customer Image</label>
                        <file-upload class="file-uploader"
                        [multiple]="false"
                        [(ngModel)]="image"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onFileSelected($event)"></file-upload>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button mat-button type="submit">Create Contact</button>
                <button mat-button type="button" (click)="contactForm.reset()">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>